<a href="https://colab.research.google.com/github/pepemaluza/DL2021/blob/main/DL2021_Cleaned_Version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DL 2021 - Bank Marketing Campaign

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bank=pd.read_csv("drive/MyDrive/DL/bank-additional-full.csv",sep=';')
dfBank=bank.copy() #creamos la copia para hacer nuestro df.

print ("Shape: "+ str(dfBank.shape))
print (dfBank.info())

#Dataset:

Tenemos 41188 datos y 21 features. Supuestmanete son non-null values, pero nos fijamos igual.

#Attributes: 
`Info sacada del kaggle`

Bank client data:**

* Age : Age of the lead (numeric)
* Job : type of job (Categorical)
* Marital : Marital status (Categorical)
* Education : Educational Qualification of the lead (Categorical)
* Default: Does the lead has any default(unpaid)credit (Categorical)
* Housing: Does the lead has any housing loan? (Categorical)
* loan: Does the lead has any personal loan? (Categorical)

**Related with the last contact of the current campaign:**

* Contact: Contact communication type (Categorical)
* Month: last contact month of year (Categorical)
* day_of_week: last contact day of the week (categorical)
* duration: last contact duration, in seconds (numeric).

**Important note:** Duration highly affects the output target (e.g., if * duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.*

**Other attributes:**

* campaign: number of contacts performed during this campaign and for this client (numeric)
* pdays: number of days that passed by after the client was last contacted from a previous campaign(numeric; 999 means client was not previously contacted))
* previous: number of contacts performed before this campaign and for this client (numeric)
* poutcome: outcome of the previous marketing campaign (categorical)

**Social and economic context attributes**

* emp.var.rate: employment variation rate - quarterly indicator (numeric)
* cons.price.idx: consumer price index - monthly indicator (numeric)
* cons.conf.idx: consumer confidence index - monthly indicator (numeric)
* euribor3m: euribor 3 month rate - daily indicator (numeric)
* nr.employed: number of employees - quarterly indicator (numeric)

**Output variable (desired target):**

* y - has the client subscribed a term deposit? (binary: 'yes','no')

In [ ]:
dfBank.head() #vemos info.

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

In [ ]:
dfBank.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object